<div class="cabout_section">
  <div class="about_down_box" style="background-image: url({{ section.settings.bgimg | img_url: 'master' }});">
    <div class="width-container">
      <div class="about_up_box">
         <div class="about_flex">
          <div class="about_us_info1 corder-1">
            <div class="about_info_box">
              {%- for block in section.blocks limit: 2 -%}
                <div class="about_info">
                  {% if block.settings.svgimg != blank %}
                  <div class="icon_img">
                    <img src="{{ block.settings.svgimg | img_url: 'master' }}" class="svgimg_about lazyload" alt="" loading="lazy">
                  </div>
                  {% endif %}
                  <div class="icon_content">
                    <div class="icon_main_heading">{{ block.settings.text1 }}</div>
                    <div class="icon_main_subheading">{{ block.settings.text2 }}</div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
         </div>
        <div class="about_us_video">
          <div class="about_video_box">
            <video class="about_video lazyload" loop muted autoplay playsinline>
              <source src="{{ section.settings.video}}" type="video/mp4">
            </video>
          </div>
        </div>
      <div class="about_flex">
        <div class="about_us_info2 corder-2">
          <div class="about_info_box">
            {%- for block in section.blocks offset: 2 -%}
              <div class="about_info">
                {% if block.settings.svgimg != blank %}
                <div class="icon_img">
                  <img src="{{ block.settings.svgimg | img_url: 'master' }}" class="svgimg_about lazyload" alt="" loading="lazy">
                </div>
              {% endif %}
                <div class="icon_content">
                  <div class="icon_main_heading">{{ block.settings.text1 }}</div>
                  <div class="icon_main_subheading">{{ block.settings.text2 }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      </div>
      <div class="about_content_box">
        <div class="about_content">
          <div class="about_heading">{{ section.settings.mainheading }}</div>
          {% if section.settings.titleimg != blank %}
            <div class="about_img_box">
              <img src="{{section.settings.titleimg  | img_url:'master' }}" class="about_title lazyload" alt="">
            </div>
          {% endif %}
          <div class="about_p">{{ section.settings.paragraph }}</div>
        </div>
        {% if section.settings.btntext != blank %}
          <div class="about_button_box">
            <a href="{{section.settings.btnurl}}" class="about_button"
              ><i class="fa-sharp fa-solid fa-minus"></i>{{ section.settings.btntext -}}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom about us",
  "settings": [
    {
      "type": "image_picker",
      "id": "bgimg",
      "label": "Background curve img"
    },
    {
      "type": "url",
      "id": "video",
      "label": "Add video"
    },
    {
      "type": "text",
      "id": "mainheading",
      "label": "Section main heading"
    },
    {
      "type": "image_picker",
      "id": "titleimg",
      "label": "Mobile title img"
    },

    {
      "type": "text",
      "id": "paragraph",
      "label": "Section paragraph"
    },
    {
      "type": "text",
      "id": "btntext",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "btnurl",
      "label": "Button url"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "svgimg",
          "label": "svg image"
        },
        {
          "type": "textarea",
          "id": "text1",
          "label": "Text 1"
        },
        {
          "type": "textarea",
          "id": "text2",
          "label": "Text 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom about us",
      "settings": {}
    }
  ]
}
{% endschema %}
