<div class="custom_img_text">
  <div class="customwidth-container">
    <div class="gray_container">
      {% if section.settings.watchimg != blank %}
        <div class="gray_box">
          <div class="contentimg_box">
            <div class="custom_img">
              <div class="custom_img_box">
                <img src="{{section.settings.watchimg | img_url:'master'}}" alt="" class="watch_img lazyload" loading="lazy">
              </div>
            </div>
            <div class="custom_content_box">
              <div class="content_heading">{{ section.settings.mainheading }}</div>
              <div class="content_subtext">{{ section.settings.subheading }}</div>
              {% if section.settings.buttontext != blank %}
                <a href="{{section.settings.buttonurl}}" class="content_button">
                  <i class="fa-sharp fa-solid fa-minus"></i>&nbsp&nbsp {{ section.settings.buttontext -}}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom img with text",
  "class": "custo_imgsection",
  "settings": [
    {
      "type": "image_picker",
      "id": "watchimg",
      "label": "Select Image"
    },
    {
      "type": "text",
      "id": "mainheading",
      "label": "Main heading text"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Paragraph text"
    },
    {
      "type": "text",
      "id": "buttontext",
      "label": "Button text "
    },
    {
      "type": "url",
      "id": "buttonurl",
      "label": "Button url"
    }
  ],
  "presets": [
    {
      "name": "Custom img with text"
    }
  ]
}
{% endschema %}
